:root {
    --bg: #006EB6;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", Trebuchet, sans-serif;
    min-width: 410px;
}

/* */

#hero-image {
    background-image: url("../images/bg-medium.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
}

#news {
    height: 300px;
    padding: 20px;
    text-align: right;
}

#news-label {
    height: 40px;
    width: max-content;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 5px;
    padding: 5px 10px;
    align-content: center;
    justify-self: right;
    font-size: larger;
    font-style: italic;
}

#news-container {
    width: 70%;
    margin: 20px 0;
    justify-self: right;
    position: relative;
    bottom: 260px;
    overflow: hidden; /* relative position keeps its empty space there without this */
}

#right-news-floater {
    float: right;
    margin-right: 5%;
}
.news-item {
    background-color: rgba(240, 240, 240, 0.5);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
    justify-self: left;
    min-width: max-content;
}

.news-plate {
    background-color: rgba(240, 240, 240, 0.7);
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.news-plate>p {
    text-indent: 30px;
}

#see-more {
    background-color: rgba(240, 240, 240, 1);
    padding: 5px 10px;
    max-width: max-content;
    margin: 0 20% 0 15%;
}

/* */

#card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.card {
    text-align: center;
    border: 1px solid black;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.card-img-box {
    width: 50%;
    margin-right: 30px;
}

.card-word-box {
    width: 50%;
}

.card-word-box>h3 {
    margin-bottom: 10px;
}

/* */

.hidden {
    display: none;
}

/* */

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: var(--bg);
    text-align: center;
    align-content: center;
    height: 75px;
}

#footer-space {
    height: 5px;
}

/* body, main, footer, nav, nav p {
    border: 1px solid red;
} */

main {
    background-color: silver;
}

@media only screen and (min-width: 768px) { /* 'only' is a legacy feature; 'screen' is also understood and omissible */

}



