html {
    font-family: "Outfit", Trebuchet, sans-serif;
    color: #292929;
}

body {
    background-color: #006EB6;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr auto 1fr;
    height: 100vh;
    gap: 1%;
    margin: 1%;
}

header {
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    height: 100px;

    border-radius: 5px;
    text-align: center;
    background-color: #A2DAFF;
}

header span {
    display: block;
    margin-top: 20px;
}

nav {
    display: flex;
    min-height: 50px;
    margin-top: auto;
    justify-content: space-evenly;
    background-color: #292929;

}

nav a {
    align-content: center;
    border-radius: 4px;
    text-decoration-line: none;
    color: #c7c7c7;
    max-height: 50px;
}

nav a:hover {
    background-color: #3B3B3B;
    color: #FFFFFF;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
}

main {
    grid-row: 2;
    grid-column: 1/4;
    background-color: #FFFFFF;
    margin: 0 1%;
    border-radius: 5px;
    width: 100%;
    max-width: 90vw;
    justify-self: center;
}

footer {
    grid-row: 3;
    grid-column: 1/4;
    max-height: 200px;
    text-align: center;
    background-color: #A2DAFF;
    color: #000000;
}
